
/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:wght@200..1000&family=Signika+Negative:wght@300..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:wght@200..1000&family=Signika+Negative:wght@300..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

/* h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  color: rgb(63, 143, 16);
}  */


